.navbar {
  background: #795548;
}

.navbar span {
  color: #fff;
  margin-right: 10px;
}

.main {
  background-image: url("//i.imgur.com/wR71gDX.jpg");
  text-align: center;
  padding: 10px 0 10px 0;
  height: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.title {
  color: #727272;
}

.subtitle {
  color: #E3FFFB;
  font-weight: bold;
  text-shadow: 1px 0 0 #775346, -1px 0 0 #775346, 0 1px 0 #775346, 0 -1px 0 #775346, 1px 1px #775346, -1px -1px 0 #775346, 1px -1px 0 #775346, -1px 1px 0 #775346;
}

.credits {
  text-decoration: none;
  background: #E0995E;
  color: #fff;
  padding: 5px 10px 5px 10px;
  border-radius: 50px;
  font-weight: bold;
}

.empty-title {
  color: #44B39B;
}

.empty .fa-bolt {
  color: #FFC107;
}

.empty .fa-twitter {
  color: #1976D2;
}

.empty .fa-mobile {
  color: #212121;
}

.green {
  color: #44B39B;
}

#poll {
  text-align: center;
}

.navbar .btn-link:hover, .navbar-brand:hover {
  color: #fff;
}

#poll .btn-link:hover {
  color: #727272;
}

.table {
  margin: 0 auto;
}

.toast {
  text-align: left;
}
