<!-- index.html -->
<!doctype html>
<html ng-app="barsquareApp">
  <head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title><%= title %></title>
    <script src="/public/js/angular.js"></script><!-- load angular -->
    <script src="/public/js/angular-route.min.js"></script><!-- load ng-route -->
    <script src="/controllers/barSquare.client.js"></script><!-- main controller -->
    <link href="/public/css/spectre.min.css" rel="stylesheet"/><!-- spectre framework -->
    <link href="/public/css/main.css" rel="stylesheet"><!-- main style -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet"/><!-- font awesome -->
  </head>
  <body ng-controller="MainController">
    <header class="navbar">
      <section class="navbar-section">
        <a href="#/" class="btn btn-link btn-lg"><i class="fa fa-bars"></i></a>
        <a href="#/" class="navbar-brand">BarSquare</a>
      </section>
      <section class="navbar-section">
        <a href="#" class="btn btn-link">Last locations</a>
        <% if (!user) { %>
          <span class="hide-sm">Welcome, Do I know you?</span>
          <a href="/login/twitter" class="btn btn-primary"><i aria-hidden="true" class="fa fa-twitter"></i> Sign In</a>
        <% } else { %>
          <span class="hide-sm">Welcome <%= user.twitter.name %> !</span>
          <a href="/logout" class="btn btn-primary">Logout</a>
        <% } %>
      </section>
    </header>
    <div ng-view></div>
  </body>
</html>
